body {
    margin: 0;
    font-family: system-ui;
    background-color: #9a9b8f;
}


.main{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.heading{
    display: flex;
    border: 1px solid black;
    justify-content:space-between;
    width:  100%;
    height: 100px;
}

.pagebody{
    display: flex;
    /* border: 1px solid black; */
    width:  100vw;
    height: 85vh;
    flex-wrap: wrap;

}

.sidebar{
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    width: 10%;
    flex-wrap: wrap;
    align-items: flex-start;

}



.head {
    display: flex;
    /* border: 1px solid rgb(22, 238, 94); */
    justify-content: center;
    align-items: center;
}


.head > div{
    margin-right: 20px;
    /* border: 1px solid rgb(255, 3, 104); */
}

#searchbar {
    margin-left: 300px;
}

#pname {
    margin-left: 50px;
}

#bellsymbol, #pimg {
    margin-right: 50px;
}

#lang {
    margin-right: 50px;
}


#sidehead{
    /* border: 1px solid rgb(2, 199, 87); */
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: center;
}

.sites{
    display: flex;
    /* border: 1px solid rgb(221, 67, 25); */
    width: 100%;
    height: 90%;
    justify-content: flex-start;
}


.abc{
    /* border: 1px solid rgb(3, 0, 207); */
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 10px;
}


#test{
    border: 1px solid rgb(21, 41, 199);
    width: 70%;
}

.overview{
    display: grid;
    border: 1px solid rgb(248, 50, 0);
    width: 85%;
    padding: 20px;
    grid-template-rows: repeat(autofit, calc(100%/4));
    grid-template-columns: repeat(4, calc(100%/4));
    gap: 2rem;
}



.overview > div {
    border: 1px solid brown;
}